<html>
    <h1>Nick Blog</h1>

<a href='#'>Add an article</a>

<%= link_to "Nick Blog", articles_path %> | <%= link_to 'About', about_path %>
  <%= link_to image_tag('montventoux2.jpg') %>
  <head/>
</html>
